@import 'vars.scss';

@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	src: url('/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: bold;
	src: url('/Montserrat/Montserrat-SemiBold.ttf');
}

html, body {
	margin: 0;
	padding: 0;
	background-color: #dedede;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
}

* {
	color: #212121;
	font-family: "Montserrat";
	font-size: 19px;
	box-sizing: border-box;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	height: 100%;
}

.nuxt-link {
	text-decoration: none
}

.title {
	font-weight: bold;
	font-size: 120%;
}

input {
	outline: none;
	border-radius: 0;
	border: none;
	padding: 10px;
}
input[type="text"], input[type="password"] {
	outline: none;
	border: 2px solid #c5c5c5;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(231, 231, 231);
	&:focus {
		border: 2px solid $primaryColor;
	}
}

.center__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 5px;
	background: #8e8e8e3d;
	padding: 10px;
	th, td {
		padding: 10px;
	}
	tr:not(:first-child) {
		transition: .5s ease-in-out background;
		&:nth-child(odd) {
			background-color: #8e8e8e3d;
		}
		&:hover {
			background-color: #8a8a8a;
		}
	}
	th {
		border-bottom: 2px solid $primaryColor;
		background-color: #8181813d;
	}
}


// vendors components

.v-select {
	.vs__search::placeholder {
		color: rgb(87, 87, 87);
	}
	.vs__dropdown-toggle {
		background-color: rgb(231, 231, 231);
	}
	.vs__clear {
		display: flex;
	}
	.vs__dropdown-option--highlight{
		background: $primaryColor !important;
	}
}

.Vue-Toastification__toast-body {
	font-family: "Montserrat" !important;
}
